@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.paginate-list {
    width: 159px;
    margin: 0 auto;
    text-align: left;
    li {
      display: block;
      &:before {
        content: '⚬ ';
        font-weight: bold;
        color: slategray;
      }
    }
  }
  
  .paginate-links.items {
    user-select: none;
    a {
      cursor: pointer;
    }
    li.active a {
      font-weight: bold;
    }
    li.next:before {
      content: ' | ';
      margin-right: 13px;
      color: #ddd;
    }
    li.disabled a {
      color: #ccc;
      cursor: no-drop;
    }
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #c05621;
  }
  
